doctype html
html(lang="en")
	head
		title Trikita | minimal, simple and beautiful software
		meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0")
		meta(name="description", content="We create simple and intuitive mobile apps, captivating android games and effective tools for developers")
		link(rel='stylesheet', href='styles.css', type='text/css')
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
	body
		.container-900.full-weight
			header.row
				.col-xs-12.col-sm-9
					.box.center-xs.start-sm
						h1 Trikita
				.col-xs-12.col-sm-3
					.box
						.row
							mixin social(link, cls, parentClass)
								.col-xs-2.col-sm-3(class=parentClass)
									.box.center-xs
										a(class=cls, href=link)
											i.fa
							+social("https://twitter.com/trkta", "icon-bird", "col-xs-offset-3")
							+social("https://medium.com/#trikita", "icon-medium")
							+social("https://github.com/#trikita", "icon-github")
			.row
				.col-xs-12.about
					.box
						p We're #[a(href="https://github.com/zserge") Serge] and #[a(href="https://github.com/krugloid") Anna]. We work together under the name Trikita.
						p Simplicity is our passion.
			.row
				mixin griditem(link, name, desc, color)
					.col-xs-6.col-sm-4.center-xs.cell
						a(class=color, href=link).app
							div
								h3= name 
								p= desc 
				+griditem("/talalarmo", "Talalarmo", "Alarm clock", "cyan")
				+griditem("https://github.com/trikita/kumquat", "Kumquat", "MQTT client", "deep-orange")
				+griditem("https://github.com/zserge/anvil", "Anvil", "Reactive UI library for Android", "purple")
				+griditem("/slide", "Slide", "Plain text slideshow tool", "orange")
				+griditem("http://0xrgb.com", "Palette", "Modern color picker", "blue")
				+griditem("https://play.google.com/store/apps/details?id=trikita.obsqr", "Obsqr", "QR scanner", "red")
				+griditem("https://play.google.com/store/apps/details?id=trikita.spot", "Spot", "Sliding puzzle", "green")
				+griditem("https://play.google.com/store/apps/details?id=trikita.quilt", "Quilt", "Memory game", "pink")
				+griditem("https://github.com/trikita/hut", "Hut", "Ascetic launcher for Android", "indigo")
		footer
			.container-900
				.row.center-xs
					.col-xs-12.col-sm-10.col-md-8
						.box
							form(action="https://formspree.io/adm.trikita@gmail.com", method="POST")
								p Let's start working together
								div
									input(type="email" name="_replyto" placeholder="Email")
								div
									textarea(name="message" placeholder="Tell us about your project")
								input(type="submit" value="Send")
													
							

